# Project Capstone

### Introduction/Business Problem
Seattle has been one of the fastest growing large American cities for nearly a decade. According to Washington Office of Financial Management (OFM) survey, Seattle's population grew by 22.78% between 2010 and 2019. There is not doubt that more people are attracted to this booming city to establish their own businesses.

However, as the 15th largest city in the United States, Seattle is made up of over 30 neighborhoods. Each neighborhood has its own unqiue characteristics and the demographics of each neighborhood can also be very different. Therefore, it is difficult to determine where is the ideal location for a new business without an understanding of the target market. 

The main goal of this analysis is to provide essential data and assist a new business's location selection process. For illustration purpose, a new bakery is used as an example. This new bakery features top quality bread and pastries that are made with trendy ingredients. Its store environment is Instagram-worthy. Its target market is composed of young and educated individuals or families who have medium to high income level. 

This analysis goes through the data of each Seattle neighborhood from the following aspects:
1. median age
2. household income
3. crime rate
4. current market saturation

### Data
The data used in this analysis includes:
1. Median age by Seattle neighborhoods (2010 U.S. Census)
2. Individual Income Tax Statistics by Washington zip code (2017 IRS data)
3. United States zip codes 
4. Seattle Police Department crime data (2018-present)
5. Foursquare location data that shows bakeries within 2000 meters radius in Seattle

#### Median Age
The city of Seattle provides population profile data collected through 2010 U.S. Census. The data includes male, female and both gender's median age by Seattle Neighborhood District & Community Reporting Area. For this analysis, both gender combined median age is used. Below is the 1st 5 rows of the dataset.

In [1]:
!curl -o Census%202010%20Community%20Reporting%20Areas%20Subject%20Report.xlsx www.seattle.gov/Documents/Departments/OPCD/Demographics/AboutSeattle/Census%202010%20Community%20Reporting%20Areas%20Subject%20Report.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 4096k  100 4096k    0     0  1267k      0  0:00:03  0:00:03 --:--:-- 1267k

In [2]:
import pandas as pd
nh_df = pd.read_excel('Census%202010%20Community%20Reporting%20Areas%20Subject%20Report.xlsx', index_col = 0, header = 2)
nh_df.head()

,Unnamed: 1,Arbor Heights,Unnamed: 3,Fauntleroy/Seaview,Unnamed: 5,West Seattle Junction/Genesee Hill,Unnamed: 7,Alki/Admiral,Unnamed: 9,North Delridge,...,Interbay,Unnamed: 99,Queen Anne,Unnamed: 101,Belltown,Unnamed: 103,Downtown Commercial Core,Unnamed: 105,Pioneer Square/International District,Unnamed: 107
Community Reporting Areas,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,...,Number,Percent,Number,Percent,Number,Percent,Number,Percent,Number,Percent
Population,Total Population,6030,100,13723,100,17713,100,10542,100,4787,...,9802,100,35458,100,8601,100,4070,100,5333,100
Total Population: Ethnicity,Not Hispanic or Latino,5665,93.9469,13051,95.1031,16868,95.2295,10131,96.1013,4270,...,9107,92.9096,33822,95.3861,8069,93.8147,3856,94.742,5011,93.9621
NaN,Hispanic or Latino,365,6.05307,672,4.89689,845,4.77051,411,3.89869,517,...,695,7.09039,1636,4.61391,532,6.18533,214,5.25799,322,6.03788
Total Population: Not Hispanic or Latino by Race,White alone,4890,81.0945,11420,83.218,14803,83.5714,8957,84.9649,3294,...,7599,77.525,29002,81.7925,5844,67.9456,2838,69.7297,1589,29.7956

#### Household Income
There is no median household income data by Seattle neighborhood readily available, but the Internal Revenue Services discloses income information by zip code for the State of Washington. 2017 data is the latestest information that is available. These income information is categorized into income brackets for each zip code. Seattle zip codes are then extracted by looking up in the U.S. zip code data for further analysis. Below is the first 5 row of the data.

In [3]:
!curl -o 17zp48wa.xlsx https://www.irs.gov/pub/irs-soi/17zp48wa.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2909k  100 2909k    0     0  5794k      0 --:--:-- --:--:-- --:--:-- 5794k

In [4]:
AGI_df = pd.read_excel('17zp48wa.xlsx',header = 3)
AGI_df.head()

,ZIP\ncode [1],Size of adjusted gross income,Number of returns,Number of single returns,Number of joint returns,Number of head of household returns,Number of electronically filed returns,Number of computer prepared paper returns,Number with paid preparer's signature,Number of returns with direct deposit,...,Net investment income tax,Unnamed: 142,Tax due at time of filing [12],Unnamed: 144,Total overpayments,Unnamed: 146,Overpayments refunded [13],Unnamed: 148,Credited to next year's estimated tax,Unnamed: 150
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount,Number of returns,Amount
1,NaN,NaN,-1.0,-2.0,-3.0,-4.0,-5.0,-6.0,-7.0,-8.0,...,-140,-141,-142,-143,-144,-145,-146,-147,-148,-149
2,0,Total,3523830.0,1701350.0,1395810.0,377750.0,3102190.0,203070.0,1437800.0,2164220.0,...,137900,639018,793120,5246659,2644510,9037763,2564850,7196702,97380,1783620
3,0,"$1 under $25,000",973730.0,726850.0,110780.0,123850.0,833450.0,61800.0,334650.0,617880.0,...,20,180,96840,84694,805000,1409932,799160,1394809,6490,9917
4,0,"$25,000 under $50,000",836560.0,486020.0,189820.0,145800.0,741270.0,45500.0,309430.0,597310.0,...,0,0,129520,209317,700640,1693136,693060,1670311,10350,20768

#### Crime Data
Seattle Police Department shares Seattle crime data from 2008 through the present. The dataset includes incident date and time, crime type, neighborhood, longitude and latitude information. The first 5 row of the data is shown below.

In [5]:
crime_df = pd.read_csv('SPD_Crime_Data__2008-Present.csv') #data downloaded from https://data.seattle.gov/Public-Safety/SPD-Crime-Data-2008-Present/tazs-3rd5
crime_df.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,2020-02-05 10:10:00,NaN,2020-02-05 11:24:31,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,2020-02-03 08:00:00,2020-02-04 08:00:00,2020-02-05 10:06:28,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,2020-02-02 20:30:00,2020-02-02 21:30:00,2020-02-05 09:39:33,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,2020-02-05 01:17:00,2020-02-05 02:21:00,2020-02-05 03:30:55,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044121,12605097782,2020-02-04 22:41:00,NaN,2020-02-05 00:59:41,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,S,R,R1,NORTH BEACON HILL,25XX BLOCK OF 14TH AVE S,-122.314719,47.580248

#### Current Market Saturation
Foursquare API call is used to look up existing venues in the bakery category within 2,000 meter radius of Seattle. The result includes zip codes, longitude, and latitude of each venue for neighborhood related analysis purpose.

In [6]:
CLIENT_ID = 'ID removed' # Foursquare ID
CLIENT_SECRET = 'secret removed' # Foursquare Secret
VERSION = '20180604'
LIMIT = 100

In [7]:
search_query = 'Bakery'
radius = 2000
latitude = 47.6062
longitude = -122.3321
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)

In [8]:
import requests
results = requests.get(url).json()

In [9]:
import pandas as pd
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = pd.json_normalize(venues)
dataframe.head()

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,...,location.country,location.formattedAddress,delivery.id,delivery.url,delivery.provider.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.icon.name,venuePage.id,location.neighborhood
0,4aae9e5cf964a520a36220e3,Sugar Bakery + Cafe,"[{'id': '4bf58dd8d48988d16a941735', 'name': 'B...",v-1596087123,False,1014 Madison St,btwn Terry & Boren,47.609149,-122.325790,"[{'label': 'display', 'lat': 47.60914869775373...",...,United States,"[1014 Madison St (btwn Terry & Boren), Seattle...",418928,https://www.grubhub.com/restaurant/sugar-baker...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png,NaN,NaN
1,47f245d1f964a520974e1fe3,Three Girls Bakery,"[{'id': '4bf58dd8d48988d16a941735', 'name': 'B...",v-1596087123,False,1514 Pike Pl,in Post Alley,47.609065,-122.340913,"[{'label': 'display', 'lat': 47.60906474579556...",...,United States,"[1514 Pike Pl (in Post Alley), Seattle, WA 981...",1910007,https://www.grubhub.com/restaurant/three-girls...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png,NaN,NaN
2,4a95c280f964a5208a2420e3,Specialtyâ€™s CafÃ© & Bakery,"[{'id': '4bf58dd8d48988d1c5941735', 'name': 'S...",v-1596087123,False,701 5th Avenue,4th & Columbia (in Columbia Center),47.604667,-122.330517,"[{'label': 'display', 'lat': 47.60466704, 'lng...",...,United States,[701 5th Avenue (4th & Columbia (in Columbia C...,2176353,https://www.grubhub.com/restaurant/specialtys-...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png,553301538,NaN
3,4ca7b9f4f47ea143a9d46d21,Fuji Bakery,"[{'id': '4bf58dd8d48988d16a941735', 'name': 'B...",v-1596087123,False,526 S King St,NaN,47.598356,-122.326419,"[{'label': 'display', 'lat': 47.59835648956966...",...,United States,"[526 S King St, Seattle, WA 98104, United States]",1810363,https://www.grubhub.com/restaurant/fuji-bakery...,grubhub,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",/delivery_provider_grubhub_20180129.png,NaN,NaN
4,4b9d10c1f964a5208f8c36e3,Pike Place Bakery,"[{'id': '4bf58dd8d48988d16a941735', 'name': 'B...",v-1596087123,False,1501 Pike Pl,at Pike Place Market,47.608835,-122.340498,"[{'label': 'display', 'lat': 47.60883450562949...",...,United States,"[1501 Pike Pl (at Pike Place Market), Seattle,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN